# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.db
*.sqlite3

# Environment
.env
venv/
.venv/

# Node
node_modules/
frontend/node_modules/

# Build
dist/
build/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log